{% extends "layout.html" %}

{% block title %}
Transaction History
{% endblock %}

{% block main %}
<h2>Transaction History</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-start">Symbol</th>
            <th class="text-end">Shares</th>
            <th class="text-end">Price</th>
            <th class="text-end">TOTAL</th>
            <th class="text-end">Timestamp</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in history %}
        <tr>
            <td class="text-start">{{ entry.symbol }}</td>
            <td class="text-end">{{ entry.shares }}</td>
            <td class="text-end">{{ entry.price }}</td>
            <td class="text-end">{{ entry.total }}</td>
            <td class="text-end">{{ entry.timestamp }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
