{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}
<h2>Transaction History</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-start">Symbol</th>
            <th class="text-end">Shares</th>
            <th class="text-end">Price</th>
            <th class="text-end">TOTAL</th>
            <th class="text-end">Timestamp</th>
        </tr>
    </thead>
    <tbody>
        {% for value in history %}
        <tr>
            <td class="text-start">{{ value.symbol }}</td>
            <td class="text-end">{{ value.shares }}</td>
            <td class="text-end">{{ value.price }}</td>
            <td class="text-end">{{  "%.2f"|format(value.total) }}</td>
            <td class="text-end">{{ value.timestamp }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
